{% extends "base_generic.html" %}

<body>
{% block content %}
<div class="sidebar">

    <div class="logo_content">
        <div class="logo">
            <h3 class="logo-name">
                Sekta
            </h3>
        </div>
    </div>

    <ul class="nav">
        <li>
            <a href="#"> 
                <span>My Sekts</span>
            </a>
        </li>
        <li>
            <a href="#"> 
                <span>Create Sekt</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span>All Sekts</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Logout</span>
            </a>  
        </li>

    </ul>

</div>

    

{% endblock %}
</body>