<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'sekta_app/home.css' %}">
    <title>Home Page</title>
</head>

<body>
    <div class="container">

        <form>
            <a href="login">
                <button class="login-btn" type="button">LOGIN</button></a>
            <a href="register">
                <button class="login-btn" type="button">REGISTER</button></a>
        </form>

    </div>

</body>



</html>