{% extends "base_generic_authorized.html" %}

<body>
{% block content %}
<h2>{{ sekta.sektaname }}</h2>

<h3>Гуру: {{ sekta.creator }}</h3>
<div>{{ sekta.description }}</div>
<h3>Участники:</h3>
{% for sektant,nickname in participants %}
    <li>{{ sektant.username }} True name: {{ nickname }}</li>
{% endfor %}

{% if creator %}
    <button type="button" onclick="location.href='{{ sekta.id }}/invite'">Invite new followers</button>
{% endif %}
{% if creator %}
    <button type="button" onclick="location.href='{{ sekta.id }}/sacrifice'">Sacrifice followers</button>
{% endif %}
{% endblock %}
</body>