{% extends "base_generic.html" %}

<body>
{% block content %}
<h2>{{ sekta.sektaname }}</h2>

<h3>Гуру: {{ sekta.creator }}</h3>
<h3>Участники:</h3>
{% for nickname in participants %}
    <li>{{ nickname.sektant }} True name: {{ nickname.nickname }}</li>
{% endfor %}

{% if creator %}
    <button type="button" onclick="location.href='{{ sekta.id }}/invite'">Invite new followers</button>
{% endif %}
{% if creator %}
    <button type="button" onclick="location.href='{{ sekta.id }}/sacrifice'">Sacrifice followers</button>
{% endif %}
{% endblock %}
</body>