{% extends "base_generic_authorized.html" %}

<body>
{% block content %}
<h2>Все секты</h2>
<div class="container" id="wrap">
    <div id="cards"></div>
    {% for sekta in page_obj %}
    <a href="/sekta/{{ sekta.id }}">
        <div class="card">
            <div class="card-content">
                <div class="card-info-wrapper">
                    <div class="card-info">
                        <div class="card-info-title">
                            <h3 class="panel-title">{{ sekta.id }}. {{ sekta.sektaname }}</h3>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </a>

    {% endfor %}
    </div>
</div>

<div class="pagination" id="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&ldquo; next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo; last</a>
        {% endif %}
    </span>
</div>

{% endblock %}
</body>