{% extends "base_generic_authorized.html" %}

<body>
    {% block content %}
    <h2>Добавление новых сектантов</h2>
    <p>Введите Тайное имя для выбранного сектанта, пригласите его - и он немедленно будет добавлен в вашу секту</p>

    {% for user in page_obj %}
    <div class="user">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }}</h3>
                <form action="../invite_sektant">
                    <input type="text" placeholder="Тайное имя" name="nickname" maxlength="50" value="">
                    <input type="hidden" name="sect" value={{ sekta.id }}>
                    <input type="hidden" name="user" value={{ user.id }}>
                    <button type="submit" class="btn btn-success">Пригласить</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&ldquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
    <a href="/sekta/{{ sekta.id }}">
        <h3 class="panel-title">Назад в секту</h3>
    </a>
    {% endblock %}
</body>