{% extends "base_generic_authorized.html" %}

<body>
    {% block content %}
    <h2>Жертвоприношение</h2>
    <p>Выберите вашего последователя, который будет принесён в жертву</p>
    <p>После принесения в жертву он будет удостоен того, чтобы его Тайное имя видели остальные участники вашей секты</p>

    {% for user in page_obj %}
    <div class="user">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }}</h3>
                <button type="button" onclick="location.href='../sacrifice_sektant?user={{ user.id }}'">
                    Принести в жертву
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&ldquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="/sekta/{{ sekta.id }}">
        <h3 class="panel-title">Назад в секту</h3>
    </a>
    {% endblock %}
</body>