{% extends "base_generic_authorized.html" %}

<body>
    {% block content %}
    <h2>Жертвоприношение</h2>
    <p>Выберите вашего последователя, который будет принесён в жертву</p>
    <p>После принесения в жертву он будет удостоен того, чтобы его Тайное имя видели остальные участники вашей секты</p>

    {% for user in users %}
    <div class="user">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }}</h3>
                <button type="button" onclick="location.href='../sacrifice_sektant?user={{ user.id }}'">
                    Принести в жертву
                </button>
            </div>
        </div>
    </div>
    {% endfor %}

    <a href="/sekta/{{ sekta.id }}">
        <h3 class="panel-title">Назад в секту</h3>
    </a>
    {% endblock %}
</body>