{% extends "base_generic_authorized.html" %}

<body>
    {% block content %}
    <h2>{{sekta.id}}. {{ sekta.sektaname }}</h2>
    <div>{{ sekta.description }}</div>

    <h3>Гуру: {{ sekta.creator }}</h3>
    
    {% if creator and token != None %}
    <h3>Токен для вступления:</h3>
    <h3>{{token}}</h3>
    {% endif %}

    {% if creator %}
        <p>Только вы знаете Тайные имена всех последователей (ведь вы их приглашали)</p>
        <p>Лишь Тайные имена послуживших великой цели участников доступны прочим</p>
    {% else %}
        <p>Только наш гуру знает Тайные имена всех последователей</p>
        <p>Лишь Тайные имена послуживших великой цели участников доступны нам</p>
    {% endif %}
    <h3>Участники:</h3>
    {% for sektant,nickname in participants %}
        {% if sektant.dead %}
            <li class="dead-sektant">
        {% else %}
            <li>
        {% endif %}
            {{ sektant.username }} Тайное имя: {{ nickname }}
        </li>
    {% empty %}
        <div>
            <p>-</p>
        </div>
    {% endfor %}

    {% if creator %}
    <button type="button" onclick="location.href='invite'">Добавить новых последователей</button>
    <button type="button" onclick="location.href='sacrifice'">Совершить жертвоприношение</button>
    {% endif %}
    {% endblock %}
</body>