{% extends "base_generic_authorized.html" %}

<body>
    {% block content %}
    <h3>Вступление в секту по токену</h3>
    <p>Вы можете вступить в чужую секту сами и выбрать себе Тайное имя, но только если у вас есть секретный пригласительный токен секты</p>
    <div class="panel panel-default">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Вступить в секту</button>
        </form>
    </div>
    {% endblock %}
</body>